# --- PRIVATE KEYS (never commit) ---
DiSystems/EV_Registry/certs/*.key
DiSystems/EV_Registry/certs/*key.pem
DiSystems/EV_Registry/certs/*.pem

# --- Allow PUBLIC certs ---
!DiSystems/EV_Registry/certs/ca_cert.pem
!DiSystems/EV_Registry/certs/registry.crt
!DiSystems/EV_Registry/certs/registry.csr
!DiSystems/EV_Registry/certs/openssl-san.cnf
!DiSystems/EV_Registry/certs/ca_cert.srl
